extends layout 

block content 
   h1 Ongoing Courses

   for course in onGoingCourses 
      h4 Course ID: #{course.id}
      li Name: #{course.name}
      li Department: #{course.department}
      li Description: #{course.description}
      li Remaining Seats: #{course.remainingSeats}

   br
   br
